.App {
  padding: 20px 0px 20px 0px;
  background-color: beige;
  text-align: center;
}

.App-container{
  /* background-color: black; */
  padding: 20px 50px 20px 50px;
}

#app-title{
  font-family: 'Noto Serif SC', serif;
  font-weight: 300;
}

#app-subtitle{
  color: rgb(0,0,0,0.8);
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 25px;
}

#searchInputBox{
  font-family: 'Noto Serif SC', serif;
  font-weight: 300;
  font-size: 1em;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

#searchButton{
  background-color: rgba(0,0,0,0.1);
  height: 35px;
  border-radius: 5px;
  font-size: 1em;
  border: solid 1px black;
  padding: 5px;

}
