.App {
  padding: 20px 0px 20px 0px;
  background-color: beige;
  background-image: url("./assets/KevinRecipeBg1.png");
  background-repeat: repeat;
  text-align: center;
}

.App-container {
  /* background-color: black; */
  padding: 20px 20px 20px 20px;
}

#app-title {
  font-family: "Noto Serif SC", serif;
  font-weight: 300;
}

#app-subtitle {
  color: black;
  font-weight: lighter;
  font-style: italic;
}

#searchInputBox {
  font-family: "Noto Serif SC", serif;
  font-weight: 300;
  font-size: 1em;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

#searchButton {
  background-color: rgba(0, 0, 0, 0.1);
  height: 35px;
  border-radius: 5px;
  font-size: 1em;
  border: solid 1px black;
  padding: 5px;
}

a {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
